<div class="alain-pro__header-user" nz-dropdown [nzDropdownMenu]="userMenu" nzPlacement="bottomRight">
  <nz-avatar [nzSrc]="avatar" nzSize="small" class="mr-sm"></nz-avatar>
  {{ name }}
</div>
<nz-dropdown-menu #userMenu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>{{ 'menu.account.center' | i18n }}</li>
    <li nz-menu-item>{{ 'menu.account.settings' | i18n }}</li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="logout()">{{ 'menu.account.logout' | i18n }}</li>
  </ul>
</nz-dropdown-menu>
