<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="title"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isConfirmLoading"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code">Mã thú cưng</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng nhập mã!">
          <input nz-input formControlName="code" id="code" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Tên thú cưng</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng nhập tên!">
          <input nz-input formControlName="name" id="name" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
