<ul nz-menu [nzMode]="mode" [nzTheme]="pro.theme" [nzInlineCollapsed]="pro.isMobile ? false : pro.collapsed">
  <ng-container *ngFor="let menu of menus">
    <!-- Menu item không có con -->
    <li
      *ngIf="!menu.children || menu.children.length === 0"
      nz-menu-item
      [nzSelected]="menu._selected"
      [nzDisabled]="menu.disabled"
      [routerLink]="menu.link"
      (click)="closeCollapsed()"
    >
      <i *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></i>
      <span>{{ menu.text | i18n }}</span>
    </li>

    <!-- Menu item có con -->
    <li
      *ngIf="menu.children && menu.children.length > 0"
      nz-submenu
      [nzTitle]="submenuTitle"
      [nzOpen]="menu.open"
      [nzDisabled]="menu.disabled"
      (nzOpenChange)="openChange(menu, $event)"
    >
      <ng-template #submenuTitle>
        <i *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></i>
        <span>{{ menu.text | i18n }}</span>
      </ng-template>
      <ul>
        <li
          *ngFor="let submenu of menu.children"
          nz-menu-item
          [nzSelected]="submenu._selected"
          [nzDisabled]="submenu.disabled"
          [routerLink]="submenu.link"
          (click)="closeCollapsed()"
        >
          {{ submenu.text | i18n }}
        </li>
      </ul>
    </li>
  </ng-container>
</ul>
