<nz-layout class="alain-pro__layout">
  <nz-sider *ngIf="pro.isSideMenu" class="alain-pro__sider" [nzCollapsible]="true" [nzTrigger]="null" [nzWidth]="pro.width" [nzCollapsedWidth]="pro.widthInCollapsed" [(nzCollapsed)]="pro.layout.collapsed">
    <layout-pro-logo></layout-pro-logo>
    <layout-pro-menu [mode]="'inline'"></layout-pro-menu>
  </nz-sider>
  <nz-layout class="alain-pro__layout-content" [ngStyle]="getLayoutStyle">
    <layout-pro-header></layout-pro-header>
    <nz-content class="alain-pro__content" [ngStyle]="getContentStyle">
      <router-outlet></router-outlet>
    </nz-content>
    <layout-pro-footer></layout-pro-footer>
  </nz-layout>
</nz-layout>

<pro-setting-drawer></pro-setting-drawer>
